@import url('./form.css');
@import url('./simplelight-box.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  -o-object-fit: cover;
  object-fit: cover;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-section {
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 1128px;
  margin: 0 auto;
}
.gallery-image {
  transition: transform 0.5s ease-out;
}
.gallery-image:hover {
  cursor: pointer;
  transform: scale(1.04);
}
